
# Amiga build outputs
*.o
*.a
*.map
*.decoder
*.fastexp
*.exp

/MintAMP
/MintAMP-GT
/MintAMP-SGT
/MintAMP-SR
/skin_format_test
*.freeall-discovery
*.freeall-heads

skin_controls_test
skin_eq_decode_test
playlist_format_test
